<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="icon" type="image/svg+xml" href="../../vite.svg"/>
  <link rel="stylesheet" href="../../assets/css/app.scss" />
</head>
<body>
  <%- include('components/header') %>
  <%- include('components/UI/navigationTab') %>
  <%- include('components/aboutComponents/introBlock') %>
  <%- include('components/aboutComponents/contacts') %>
  <%- include('components/aboutComponents/requisites') %>
  <%- include('components/mainPageComponents/form') %>
  <%- include('components/footer') %>
</body>
</html>
