.restHouse__container {
  max-width: 1160px;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media (max-width: 1200px) {
  .restHouse__container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
