<div class="reviews__form">
    <div class="reviews__form-container">
        <input class="reviews__form-container_input" type="text" placeholder="Ваше имя">
        <input class="reviews__form-container_input-text" type="text" placeholder="Ваше сообщение">
        <button class="reviews__form-container_button">Оставить отзыв</button>
    </div>
    <div class="reviews__form-text">
        <h1>ВЫ МОЖЕТЕ ОСТАВИТЬ СВОЙ ОТЗЫВ</h1>
        <p>Оставьте заявку и мы ответим вам в ближайшее время</p>

    </div>
</div>
