<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="../../vite.svg"/>
  <link rel="stylesheet" href="../../assets/css/app.scss" />
  <title>Отзывы</title>
</head>
<body>
<%- include('components/header') %>
<%- include('components/UI/navigationTab') %>
<%- include('components/reviewsComponents/reviewsBlock') %>
<%- include('components/reviewsComponents/reviewsForm') %>
<%- include('components/mainPageComponents/form') %>
<%- include('components/footer') %>
</body>
</html>
