<div class="camp">
    <div class="camp__container">
        <img class="camp__image" src="../../assets/images/camp/tree.png" alt="123">
        <div class="camp__text">
            <div class="camp-text__topic">
                <p class="camp__topic-paragraph">ДЕТСКИЙ</p>
                <p class="camp__topic-paragraph">ЗАГОРОДНЫЙ</p>
                <p class="camp__topic-paragraph">ОЗДОРОВИТЕЛЬНЫЙ</p>
                <p class="camp__topic-paragraph">ЛАГЕРЬ</p>
            </div>
            <div class="camp__description">Дом отдыха "Актай" предлагает гостиничные услуги. Проживание в наших номерах имеет преимущества - это доступные цены, комфортные условия, красивая природа.</div>
            <button class="camp__button">Подробнее</button>
        </div>
    </div>
</div>
