<div class="comments">
    <div><h1 class="comments__title">ОТЗЫВЫ</h1></div>
    <ul class="comments__list">
        <button style="background-image: url('@/assets/images/svg/arrow.svg')" class="comments__arrow-left"></button>
        <li class="comments__block"> <%- include('components/UI/commentBlock') %> </li>
        <li class="comments__block"> <%- include('components/UI/commentBlock') %> </li>
        <li class="comments__block"> <%- include('components/UI/commentBlock') %> </li>
        <button style="background-image: url('@/assets/images/svg/arrow.svg')" class="comments__arrow-right"></button>
    </ul>
    <button class="comments__button">Смотреть все отзывы</button>
</div>

