<div class="form">
    <div class="form__container">
        <div class="form__text">
            <h1 class="form__topic">ХОТИТЕ ЗАДАТЬ ВОПРОС?</h1>
            <p class="form__description">Оставьте заявку и мы ответим вам в ближайшее время.</p>
        </div>
        <div class="form__block">
            <h1 class="form__title">Оставить заявку</h1>
            <div class="form__input-container">

                <input type="text" placeholder="Ваше имя" class="form__name">
                <input type="email" placeholder="Ваша почта" class="form__mail">
                <input type="text" placeholder="Ваше сообщение" class="form__message">
                <button class="form__button">Оставить заявку</button>
            </div>
        </div>
    </div>
</div>
