<div class="intro-container">
<!--    <img class="intro-container__image" src="../../assets/images/background1.png" />-->
    <div class="intro-container__block">
        <h1 class="intro-container__topic">ДОМ ОТДЫХА <span style="color: #3DC98E">"АКТАЙ"</span></h1>
        <p class="intro-container__description">ПРОЖИВАНИЕ, ОТДЫХ</p>
        <button class="intro-container__button">О бронировании</button>
    </div>
</div>
