<div class="block-container">
    <div class="block-container__text">
        <div class="block-container__topic">ДОМ ОТДЫХА</div>
        <div class="block-container__description">Дом отдыха "Актай" предлагает гостиничные услуги. Проживание в наших номерах имеет преимущества - это доступные цены, комфортные условия, красивая природа.</div>
        <button class="block-container__button">Подробнее</button>
    </div>
    <div class="block-container__photos">
        <div class="block-container__photos-upper-row">
            <img id="photo1" src="assets/images/PhotosBlock/photo1.png">
            <img id="photo2" src="assets/images/PhotosBlock/photo2.png">
        </div>
        <div class="block-container__photos-bottom-row">
            <img id="photo3" src="assets/images/PhotosBlock/photo3.png">
            <img id="photo4" src="assets/images/PhotosBlock/photo4.png">
        </div>
    </div>
</div>
<div class="block-container-bottom">
    <button style="background-image: url('assets/images/svg/arrow.svg')" class="block-container-bottom__arrow-left"></button>
    <img width="360" height="300" src="assets/images/PhotosBlock/PhotosBlockBottom/photo1.png">
    <img width="360" height="300" src="assets/images/PhotosBlock/PhotosBlockBottom/photo2.png">
    <img width="360" height="300" src="assets/images/PhotosBlock/PhotosBlockBottom/photo3.png">
    <button style="background-image: url('assets/images/svg/arrow.svg')" class="block-container-bottom__arrow-right"></button>
</div>
