<div class="block-container-economy">
    <div class="block-container__hotel-photos">
        <div class="block-container__photos-upper-row">
            <img id="photo1" src="../../assets/images/camp/camp_photo-1.png">
            <img id="photo2" src="../../assets/images/camp/camp_photo-2.png">
        </div>
        <div class="block-container__photos-bottom-row">
            <img id="photo3" src="../../assets/images/camp/camp_photo-3.png">
            <img id="photo4" src="../../assets/images/camp/camp_photo-4.png">
        </div>
    </div>
    <div class="improve-container__text">
        <div class="improve-container__title">МЕРОПРИЯТИЯ</div>
        <div class="improve-container__description">
            <p>Дом отдыха "Актай" предлагает гостиничные услуги.</p>
            <p>Проживание в наших номерах имеет преимущества - это</p>
            <p>доступные цены, комфортные условия, красивая природа.</p>
        </div>
    </div>
</div>
