<div class="restHouse__container camp-container">
    <div class="block-container__text">
        <div class="block-container__topic ">
            <h4>ДЕТСКИЙ</h4>
            <h4>ЗАГОРОДНЫЙ</h4>
            <h4>ОЗДОРОВИТЕЛЬНЫЙ</h4>
            <h4>ЛАГЕРЬ</h4>
        </div>
        <div class="block-container__description"><p>Скит "Актай" и "Живоносный источник" Богородицы</p>
            <p> находятся возле территории дома отдыха, являются местом</p>
            <p> паломничества и пользуются популярностью у наших гостей.</p>
        </div>
        <button class="improve-container__button">Забронировать проживание</button>
    </div>
    <div>

        <img alt="123" src="../../assets/images/camp/children.png">
    </div>
</div>

