<div class="block-container-improve">
    <div class="block-container__hotel-photos">
        <div class="block-container__photos-upper-row">
            <img alt="photo" id="photo1" src="../../assets/images/camp/camp_photo-1.png">
            <img alt="photo" id="photo2" src="../../assets/images/camp/camp_photo-2.png">
        </div>
        <div class="block-container__photos-bottom-row">
            <img alt="photo" id="photo3" src="../../assets/images/camp/camp_photo-3.png">
            <img alt="photo" id="photo4" src="../../assets/images/camp/camp_photo-4.png">
        </div>
    </div>
    <div class="improve-container__text">
        <div class="improve-container__title">РАСПИСАНИЕ</div>
        <div class="improve-container__description timesheet-container">
            <p class="timesheet-camp-season">Зимняя смена</p>
            <h5 class="timesheet-camp">02.01-08.01</h5>

            <p class="timesheet-camp-season">Весенняя смена</p>
            <h5 class="timesheet-camp">24.03-30.03</h5>

            <p class="timesheet-camp-season">Летняя смена</p>
            <h5 class="timesheet-camp">№1 - 02.06-15.06</h5>
            <h5 class="timesheet-camp">№2 - 17.06-30.06</h5>
            <h5 class="timesheet-camp">№3 - 02.07-22,07</h5>
            <h5 class="timesheet-camp">№4 - 24.07-13.08</h5>
            <h5 class="timesheet-camp">№5 - 15.08-28,08</h5>

            <p class="timesheet-camp-season">Осенняя смена</p>
            <h5 class="timesheet-camp">27.10-02.11</h5>

        </div>

    </div>
</div>
