.comments {
  margin-top: 120px;

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__list {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    max-width: 1160px;
    overflow: hidden;
  }

  &__wrapper {
    min-height: 100%;

  }

  &__block {
    text-align: center;
  }

  &__arrow-left {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: none;
    position: absolute;
    top: 50%;
    left: -40px;
    transform:  translateY(-50%) translateX(-100%);
    background-color: #FFFFFF;
    box-shadow: 0 4px 34px 0 #0000000A;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    &:after {
      content: '';

    }
  }

  &__arrow-right {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(100%) rotate(180deg) ;
    right: -40px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 34px 0 #0000000A;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    &:after {
      content: '';

    }
  }

  &__button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 40px auto;
    cursor: pointer;
    height: 60px;
    width: 217px;
    border-radius: 36px/220px;
    background: #E8C467;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.69) inset;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #5B4E2A;
  }
}

