.form {
  max-width: 1160px;
  margin: 0 auto;

  &__container {
    background-image: url('@/assets/images/form/form_background.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 1160px;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    margin-left: 80px;
    max-width: 425px;
  }

  &__topic {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
  }

  &__description {
    margin-top: 20px;
  }

  &__block {
    margin-right: 40px;
    border-radius: 220px/36px;
    background-color: #FFFFFF;
    box-shadow: 0 32px 74px 0 #0000000F;
    width: 360px;
    height: 498px;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    margin-top: 60px;
  }

  &__input-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }

  &__name {

    max-width: 300px;
    height: 60px;
    border: 1px solid #8B8B8B4D;
  }

  &__mail {
    margin-top: 10px;
    max-width: 300px;
    height: 60px;
    border: 1px solid #8B8B8B4D;
  }

  &__message {
    margin-top: 10px;
    max-width: 300px;
    height: 100px;
    border: 1px solid #8B8B8B4D;
  }

  &__button {
    margin-top: 20px;
    cursor: pointer;
    height: 60px;
    width: 300px;
    border-radius: 36px/220px;
    background: #E8C467;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.69) inset;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #5B4E2A;
  }
}

@media screen and (max-width: 1255px) {
  .form {
    &__container {
      padding-top: 40px;
      justify-content: center;
      flex-direction: column;
    }

    &__text {
      margin-top: 40px;
      margin-left: 0;
    }

    &__topic {
      font-size: 3vw;
      text-align: center;
    }

    &__description {
      font-size: 1.2vw;
      text-align: center;
      margin-bottom: 80px;
    }

    &__button {
      margin-bottom: 72px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .form {
    &__container {
      background-image: url('@/assets/images/form/form_bg_adaptive.png');
    }

    &__text {
      margin-left: 0;
    }

    &__block {
      margin-right: 0;
      max-width: 300px;
    }
    &__name {
      margin: 5px auto;
      width: 280px;
    }
    &__mail {
      margin: 5px auto;
      width: 280px;
    }
    &__message {
      margin: 5px auto;
      width: 280px;
    }
    &__button {
      margin: 5px auto;
      width: 217px;
      height: 50px;
    }
  }
}


