.intro-container {
  height: 680px;
  width: 100%;
  background-image: url("@/assets/images/background1.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;

  /*&__image {
    height: 680px;
    width: 100vw;
    object-fit: cover;

  }*/

  &__block {
    position: absolute;
    left: calc(50% - 880px / 2);
    top: calc(50% - 364px / 2);
    width: 880px;
    height: 364px;
    background-color: #ffffff;
    border-radius: 36px/220px;
    text-align: center;
  }

  &__topic {
    margin-top: 10%;
    font-size: 60px;
    font-weight: 700;
  }

  &__description {
    margin-top: 3px;
    font-size: 40px;
    line-height: 36px;
  }

  &__button {
    cursor: pointer;
    margin-top: 42px;
    height: 60px;
    width: 217px;
    border-radius: 36px/220px;
    background: #E8C467;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.69) inset;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #5B4E2A;
  }
}

/*@media screen and (max-width: 1225px) {
  .intro-container {
    &__block {
      position: static;
      margin: 20px;
    }
  }
}*/
