.intro-container {
  height: 680px;
  max-width: 100%;
  background-image: url("@/assets/images/background1.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;

  &__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 880px;
    max-height: 364px;
    padding: 41px 77px 41px 77px;
    background-color: #ffffff;
    border-radius: 36px/220px;
    text-align: center;
  }

  &__topic {
    white-space: nowrap;
    margin-top: 10%;
    font-size: 60px;
    font-weight: 700;
  }

  &__description {
    white-space: nowrap;
    margin-top: 3px;
    font-size: 40px;
    line-height: 36px;
  }

  &__button {
    cursor: pointer;
    margin-top: 42px;
    height: 60px;
    width: 217px;
    border-radius: 36px/220px;
    background: #E8C467;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.69) inset;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #5B4E2A;
  }
}

@media screen and (max-width: 1500px) {
  .intro-container {
    &__block {
      padding: 20px 51px 20px 51px;
    }
    &__topic {
      font-size: 4.5vw;
    }
    &__description {
      font-size: 3.5vw;
    }
  }
}

@media screen and (max-width: 850px) {
  .intro-container {
    background-image: url("@/assets/images/PhotosBlock/PhotosBlockBottom/photo1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 320px;
    height: 312px;
    padding: 60px 20px 60px 20px;

  }
}

@media screen and (max-width: 320px) {
  .intro-container {
    width: 320px;
    height: 312px;
    background-position: center;
  }
}
