.block-container {
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;



  &__text {
  }

  &__topic {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }

  &__description {
    opacity: 0.5;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    max-width: 479px;
    color: #1C1C1C;
  }

  &__button {
    margin-top: 40px;
    cursor: pointer;
    height: 60px;
    width: 217px;
    border-radius: 36px/220px;
    background: #E8C467;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.69) inset;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #5B4E2A;
  }

  &__photos {
    display: flex;
    justify-content: flex-end;

  }

  &__photos-upper-row {
    margin-bottom: 40px;
  }


}

#photo1 {
  margin-right: 40px;
}

#photo3 {
  margin-right: 40px;
}

.block-container-bottom {
  position: relative;
  max-width: 1160px;
  overflow: hidden;
  margin-top: 120px;
  min-width: 0;

  &-wrapper {
    min-height: 100%;
  }

  &-image {
    text-align: center;

  }
  &-image img {
    max-width: 100%;

  }


  &__arrow-left {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: none;
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%) translateX(-100%);
    background-color: #FFFFFF;
    box-shadow: 0 4px 34px 0 #0000000A;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;

    &:after {
      content: '';
    }
  }

  &__arrow-right {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(100%) rotate(180deg);
    right: -40px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 34px 0 #0000000A;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    &:after {
      content: '';
    }
  }
}

@media screen and (max-width: 1225px) {
  .block-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;


    &__text {
      margin: 35px auto;
      display: flex;
      flex-direction: column;
      max-width: 300px;
      align-items: stretch;
    }

    &__topic {
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      text-align: left;

    }

    &__description {
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
      text-align: left;

    }

    &__photos {
      margin: 35px auto;
      flex-direction: column-reverse;
      align-items: center;
      max-width: 770px;
      justify-content: center;

      &-upper-row {
        margin-bottom: 10px;
      }
    }
  }
  #photo1 {
    width: 145px;
    height: 145px;
    margin-right: 10px;
  }
  #photo2 {
    width: 145px;
    height: 145px;
  }
  #photo3 {
    width: 145px;
    height: 145px;
    margin-right: 10px;

  }
  #photo4 {
    width: 145px;
    height: 145px;
  }
}

@media screen and (max-width: 360px) {
  .block-container-bottom-img {
    width: 300px;
    height: 300px;
  }
}
