<header>
    <div class="header-container">
        <div class="header-container__logo">
            <div class="header-container__title-container">
                <h1 class="header-container__title">АКТАЙ</h1>
                <div class="header-container__subtitle">
                    <span class="header-container__subtitle-text">наш дом отдыха</span>
                </div>
            </div>
            <div class="header-container__description">Муниципальное бюджетное учреждение "Актай" городского округа
                Верхотурский
            </div>
        </div>
        <div class="header-container__navbar">
            <ul class="header-container__navbar-list">
                <li class="header-container__navbar-item"><span class="header-container__navbar-text">Об Организации</span></li>
                <li class="header-container__navbar-item"><span class="header-container__navbar-text">Проживание</span></li>
                <li class="header-container__navbar-item"><span class="header-container__navbar-text">Отдых</span></li>
                <li class="header-container__navbar-item"><span class="header-container__navbar-text">Детский оздоровительный лагерь</span></li>
                <li class="header-container__navbar-item"><span class="header-container__navbar-text">Отзывы</span></li>
                <li class="header-container__navbar-item"><span class="header-container__navbar-text">Нормативные документы</span></li>
                <li class="header-container__navbar-item"><span class="header-container__navbar-text">Антикоррупция</span></li>
            </ul>
        </div>

    </div>
</header>

