<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Camp</title>
  <link rel="icon" type="image/svg+xml" href="../../vite.svg"/>
  <link rel="stylesheet" href="../../assets/css/app.scss"/>
</head>
<body>
<%- include('components/header') %>
<%- include('components/UI/navigationTab') %>
<%- include('components/campComponents/introBlock') %>
<%- include('components/campComponents/events') %>
<%- include('components/campComponents/timesheet') %>
<%- include('components/restHouseComponents/meals') %>
<%- include('components/mainPageComponents/form') %>
<%- include('components/footer') %>
</body>
</html>
