<div class="block-container-improve">
    <div class="block-container__hotel-photos">
        <div class="block-container__photos-upper-row">
            <img id="photo1" src="../../assets/images/improvedClass/improvedClassPhoto1.png">
            <img id="photo2" src="../../assets/images/improvedClass/improvedClassPhoto2.png">
        </div>
        <div class="block-container__photos-bottom-row">
            <img id="photo3" src="../../assets/images/improvedClass/improvedClassPhoto3.png">
            <img id="photo4" src="../../assets/images/improvedClass/improvedClassPhoto4.png">
        </div>
    </div>
    <div class="improve-container__text">
        <div class="improve-container__title">УЛУЧШЕННЫЙ КЛАСС</div>
        <div class="improve-container__description">
            <p>Имеется спорная точка зрения, гласящая примерно</p>
            <p>следующее: реплицированные с зарубежных источников,</p>
            <p>современные исследования представляют собой не что иное,</p>
            <p>как квинтэссенцию победы маркетинга над разумом и</p>
            <p>должны быть указаны как претенденты на роль</p> </div>
        <div class="improve-container__description-advantages">
            <div class="improve-container__description-advantages1">
                <div class="improve-container__description-advantages-circle">
                    <img alt="bed" src="../../assets/images/svg/bed.svg">
                </div>
                <p>Номера по 2-3 кровати</p>
            </div>
            <div class="improve-container__description-advantages2">
                <div class="improve-container__description-advantages-circle">
                    <img alt="kitchen" src="../../assets/images/svg/kitchen.svg">
                </div>
                <p>Общая кухня</p>
            </div>
        </div>
        <div class="improve-container__cost">
            <h1>750р.<span>/Сутки</span></h1>
        </div>
        <button class="improve-container__button">Забронировать проживание</button>
    </div>
</div>
