<div class="restHouse__container">
    <div class="block-container__text">
        <div class="block-container__topic">ДОМ ОТДЫХА</div>
        <div class="block-container__description"><p>Дом отдыха "Актай" предлагает гостиничные услуги.</p>
            <p>Проживание в наших номерах имеет преимущества - это</p>
            <p>доступные цены, комфортные условия, красивая природа.</p>
        </div>
        <button class="block-container__button" onclick="document.location='pages/restHouse/restHouse.html'">К тарифам</button>
    </div>
    <img src="../../assets/images/camp/tree.png">
</div>

