<div class="meals">
    <div class="meals__container">
        <div class="meals__img">
            <img src="../../assets/images/meals/meals.png">
        </div>
        <div class="meals__text">
            <div class="meals__text-title">ПИТАНИЕ</div>
            <div class="meals__text-description">
                <p>Для организации питания гостей Дома отдыха работает</p>
                <p> столовая на два обеденных зала, организуются праздничные</p>
                <p> и корпоративные мероприятия.</p>
            </div>

                <div class="improve-container__description-advantages">
                    <div class="improve-container__description-advantages1">
                        <div class="improve-container__description-advantages-circle">
                            <img alt="bed" src="../../assets/images/svg/bed.svg">
                        </div>
                        <p>Приём пищи 3 раза в день</p>
                    </div>
                    <div class="improve-container__description-advantages2">
                        <div class="improve-container__description-advantages-circle">
                            <img alt="kitchen" src="../../assets/images/svg/kitchen.svg">
                        </div>
                        <p>Свежие продукты</p>
                    </div>
                </div>
        </div>
    </div>
</div>
