<div class="contacts">
    <div class="contacts__item">
        <div class="contacts__item-icon">
            <img alt="ellipse" class="contacts__item-icon-ellipse" src="../../assets/images/about/ellipse.png">
            <img alt="icon" class="contacts__item-icon-label" src="../../assets/images/about/phone.svg">

        </div>
        <div class="contacts__item-title">Телефон</div>
        <div class="contacts__item-description">+7 999 999 99 99</div>
        <div class="contacts__item-description">+7 999 999 99 99</div>

    </div>

    <div class="contacts__item">
        <div class="contacts__item-icon">
            <img alt="ellipse" class="contacts__item-icon-ellipse" src="../../assets/images/about/ellipse.png">
            <img alt="icon" class="contacts__item-icon-label" src="../../assets/images/about/envelope.png">
        </div>
        <div class="contacts__item-title">Почта</div>
        <div class="contacts__item-description">Aktai_go.verh@mail.ru</div>

    </div>

    <div class="contacts__item">
        <div class="contacts__item-icon">
            <img alt="ellipse" class="contacts__item-icon-ellipse" src="../../assets/images/about/ellipse.png">
            <img alt="icon" class="contacts__item-icon-label" src="../../assets/images/about/web.png">

        </div>
        <div class="contacts__item-title">Соц.сети и ресурсы</div>
        <div class="contacts__item-description"></div>

    </div>

    <div class="contacts__item">
        <div class="contacts__item-icon">
            <img alt="ellipse" class="contacts__item-icon-ellipse" src="../../assets/images/about/ellipse.png">
            <img alt="icon" class="contacts__item-icon-label" src="../../assets/images/about/location_dot.png">

        </div>
        <div class="contacts__item-title">Адрес</div>
        <div class="contacts__item-description">
            <p>624383, Свердловская обл, </p>
            <p>Верхотурский р-н,</p>
            <p>п. Привокзальный,</p>
            <p>ул. Молодежная, д.4</p>
        </div>

    </div>
    <div class="contacts__map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abb851098e8061726b3eee0716e48943300dfb1dbc6ffcdc6b105b75567643729&amp;width=760&amp;height=360&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>

