<div class="about">
    <div class="about__title">
        <h1>Муниципальное бюджетное учреждение "Актай" городского округа Верхотурский</h1>
    </div>
    <div class="about__ceo">
        <div class="about__ceo-photo">
            <img src="../../assets/images/about/ceo.png">
        </div>
        <div class="about__ceo-position">Директор:</div>
        <div class="about__ceo-name"><h3>Якурнова Наталья Анатольевна</h3></div>
    </div>
</div>
