<div class="requisites">
    <div class="requisites__title"><h1>Реквизиты МАУ «Актай»</h1></div>
    <div class="requisites__book">
        <img src="../../assets/images/about/book.png">
    </div>
    <div class="requisites__info-block">
        <div class="requisites__column">
            <div class="requisites__topic">Полное наименование</div>
            <div class="requisites__description">Муниципальное автономное учреждение «Актай» городского округа Верхотурский</div>

            <div class="requisites__topic">Сокращенное наименование</div>
            <div class="requisites__description">МАУ «Актай»</div>

            <div class="requisites__topic">Сокращенное наименование</div>
            <div class="requisites__description">МАУ «Актай»</div>

            <div class="requisites__topic">Юридический и фактический адрес</div>
            <div class="requisites__description">624383 Свердловская область, Верхотурский район, п. Привокзальный, ул. Молодёжная 4</div>

            <div class="requisites__topic">Директор</div>
            <div class="requisites__description">Якурнова Наталья Анатольевна действует на основании Устава</div>

            <div class="requisites__topic">ИНН</div>
            <div class="requisites__description">6640000994</div>

            <div class="requisites__topic">КПП</div>
            <div class="requisites__description">668001001</div>
        </div>
        <div class="requisites__column">
            <div class="requisites__topic">ОГРН</div>
            <div class="requisites__description">1026602074070</div>

            <div class="requisites__topic">Уральское ГУ БАНКА РОССИИ</div>
            <div class="requisites__description">УФК по Свердловской области Г. Екатеринбург</div>

            <div class="requisites__topic">БИК</div>
            <div class="requisites__description">016577551</div>

            <div class="requisites__topic">р/с</div>
            <div class="requisites__description">03234643657090006200</div>

            <div class="requisites__topic">к/с</div>
            <div class="requisites__description">40102810645370000054</div>

            <div class="requisites__topic">УФК по Свердловской области</div>
            <div class="requisites__description">(Муниципальное автономное учреждение «Актай» городского округа Верхотурский л/с 33906000070 , л/с31906000070,30906000070)</div>
        </div>
    </div>
</div>
