<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Дом Отдыха</title>
  <link rel="icon" type="image/svg+xml" href="../../vite.svg"/>
  <link rel="stylesheet" href="../../assets/css/app.scss" />
</head>
<body>
<%- include('components/header') %>
<%- include('components/restHouseComponents/introBlock') %>
<%- include('components/restHouseComponents/improvedClass') %>
<%- include('components/restHouseComponents/economyClass') %>
<%- include('components/restHouseComponents/meals') %>
<%- include('components/mainPageComponents/form') %>
<%- include('components/footer') %>
</body>
</html>
