<div class="comment">
    <div class="comment__container">
        <div class="comment__name">Александр Александров</div>
        <div class="comment__text">Приятно, граждане, наблюдать, как тщательные исследования конкурентов представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ограничены исключительно образом мышления. И нет сомнений, что сторонники тоталитаризма. Приятно, граждане, наблюдать, как тщательные исследования конкурентов представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ограничены исключительно образом мышления. И нет сомнений, что сторонники тоталитаризма в</div>
        <button class="comment__container-button">Развернуть</button>
    </div>
</div>



